<div class="wrapper wrapper-content animated fadeInDown">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-11 p-xs">
                <div class="pull-left m-r-md">
                    <i class="fa  fa-mortar-board text-navy mid-icon"></i>
                </div>
                <h2>学生管理</h2>
                <span>管理学校学生用户及散客学生信息</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-1 col-lg-1 col-md-1">

                        </div>
                        <div class="col-sm-7 col-lg-5 col-md-5"></div>
                        <div class="col-sm-5 col-lg-5 col-md-5 ">
                            <form action="__ACTION__" method="get">
                                <div class="col-sm-6 col-lg-6 col-md-6 pull-right">
                                    <div class="input-group">
                                        <input type="text" placeholder="请输入学生名" class="input-sm form-control"
                                               name="name" value="{$_GET['name']}">
                                      <span class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary"><i
                                                class="fa fa-search"></i></button> </span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-6 col-md-6 ">
                                    <div class="input-group">
                                        <input type="text" placeholder="请输入学校全名" class="input-sm form-control"
                                               name="school" value="{$_GET['school']}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="margin-top"></div>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>学生用户</th>
                            <th>所属学校</th>
                            <th>所属班级</th>
                            <th>上次登录时间</th>
                            <th>状态</th>
                            <th>管理/编辑</th>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach name="list" item="vo">
                            <tr>
                                <td>{$key+1+$vo.p}</td>
                                <td>{$vo.name}</td>
                                <td>{$vo.schoolname}</td>
                                <td>{$vo.classname}</td>
                                <td>{$vo.lasttime}</td>
                                <td>
                                    <if condition="$vo.status eq '1'"><span class="label label-success">正常</span>
                                        <else/>
                                        <span class="label label-danger">停用</span></if>
                                </td>
                                <td>
                                     <if condition="$vo.status eq '0'">
                                        <a class="text-navy" href="__CONTROLLER__/openuser/id/{$vo['userid']}/usertype/{$vo[type]}<?php echo getRightUrl();?>">激活 </a>
                                        <else/>
                                        <a href="__CONTROLLER__/closeuser/id/{$vo['userid']}/usertype/{$vo[type]}<?php echo getRightUrl();?>"
                                           class="text-navy">禁用 </a></if> /
                                    <a class="text-navy" href="__CONTROLLER__/userdetail/id/{$vo.userid}/klass/{$vo.classid}/type/1">编辑</a>
                                </td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                    <div class="page-container">
                        <div class="page">{$page}</div>
                        <div class="clear"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>